.prose {
  line-height: 1.75;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1em;
  }

  h2 {
    line-height: 1.33333;
  }

  p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  pre:has(code) {
    padding: 0 2rem;
  }

  code {
    font-family: "Maple Mono", sans-serif;
    font-size: 0.9rem;
  }

  img,
  video {
    width: 100%;
    object-fit: cover;
    background-color: #f8f9fa;
    border-radius: 8px;
  }

  video {
    outline: none; /* 移除焦点时的边框 */
    cursor: pointer; /* 鼠标悬停时显示手型 */
  }

  @media (max-width: 768px) {
    line-height: 1.4;
    code {
      font-size: 0.7rem;
    }
    h2 {
      line-height: 1;
    }
    p {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}
