:root {
  --bg-color: #fafcfe;
  --reverse-bg-color: #333333;

  --overlay-color: rgba(0, 0, 0, 0.5);

  --desc-color: #808080;

  --tag-bg-color: #f9f9f9;
  --tag-border-color: #d4d4d4;

  --hover-menu-color: #f1f1f1;

  --text-color: #374151;

  --menu-text-color: rgba(0, 0, 0, 0.7);
  --menu-text-h-color: rgba(221, 221, 221, 0.4);
  --menu-bg-color: rgba(255, 255, 255, 0.1);
  --menu-border-color: rgba(0, 0, 0, 0.2);

  --menu-selected-bg-color: rgba(0, 0, 0, 0.5);
  --menu-selected-bg-h-color: rgba(0, 0, 0, 0.6);
  --menu-selected-text-color: rgba(247, 247, 249, 1);

  --hamburger-shadow-color: rgba(0, 0, 0, 0.15);
  --hamburger-shadow-h-color: rgba(0, 0, 0, 0.2);

  --hamburger-active-bg-color: #7b7b7b;
  --hamburger-active-span-bg-color: #ffffff;

  --hamburger-sidebar-head-color: #e0e0e0;

  --card-title-color: #333333;
  --card-text-color: #666666;

  --th-bg-color: #fafafa;
  --media-bg-color: #f8f9fa;

  --post-card-h-color: rgba(244, 243, 246, 0.4);

  --footer-bg-color: #f7f7f9;
  --footer-text-color: #808080;
  --footer-border-top-color: #e3e8f7;

  --tag-bg-color: #f5f5f5;
  --tag-bg-h-color: #d6d6d6;
  --tag-count-color: #888888;
}

/* [data-theme="dark"] {
} */
