---
import { getCollection, render } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

export const getStaticPaths = async () => {
  const blogs = await getCollection("blog");
  return blogs.map((item) => ({
    params: {
      page: item.data.title,
    },
    props: {
      title: item.data.title,
      Content: item,
    },
  }));
};

const { title, Content: rawContent } = Astro.props;
const { Content } = await render(rawContent);
---

<BaseLayout title="欢迎来到我的空间">
  <h2>{title}</h2>
  <Content />
</BaseLayout>

<style>
  * {
    box-sizing: border-box; /* 确保所有元素的宽高包含 padding 和 border */
  }

  html body {
    margin: 0;
    padding: 0;
    height: 100%; /* 确保body和html占满全屏 */
    margin: 0;
  }

  img {
    max-width: 500px;
    height: auto; 
  }
</style>