---
import Prose from "../components/Prose.astro";
import { Content } from "../posts/history.md";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  description="欢迎来到我的小窝！我会在这里放一些编程学习记录和生活随笔，欢迎留下你的评论和友链！"
  keywords="历史,LingLambda,博客,个人博客,blog"
  title="博客历史"
  canonical={import.meta.env.SITE}
>
  <div class="content-wrapper">
    <Prose>
      <Content />
    </Prose>
  </div>
</BaseLayout>

<style>
  .content-wrapper {
    padding: 0 1.5rem;
  }
</style>
