---
import BaseHead from "../components/BaseHead.astro";
import TitileCard from "../components/TitileCard.astro";
import SiteLayout from "../layouts/SiteLayout.astro";

---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->

<SiteLayout title="欢迎来到我的空间">
  <TitileCard/>
  <div>
  </div>
</SiteLayout>


<style>
  * {
    box-sizing: border-box; /* 确保所有元素的宽高包含 padding 和 border */
  }

 html
 body{
  margin: 0;
  padding: 0;
 }

</style>