---
import tacImage from "../../public/assets/images/avatar.png";
import Prose from "../components/Prose.astro";
import { Image } from "astro:assets";
import { Content } from "../posts/myUtil.md";
import PlayedGames from "../components/PlayedGames.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Message from "../components/Message.astro";
import ThemeButton from "../components/ThemeButton.astro";

const links = [
  { url: "/blog", name: "blog" },
  { url: "/time-line", name: "time line" },
];
---

<BaseLayout
  description="我的前端实验室，偶尔会在这乱写"
  keywords="lab,实验,前端"
  title="实验室"
  canonical=`${import.meta.env.SITE}/lab/`
>
  <div class="content-wrapper">
    偶尔会在这乱写
    <div class="tac-say">
      <Image
        src={tacImage}
        alt="Ling avatar"
        width="128"
        height="128"
        loading="eager"
      />
      <div class="chat-bubble">你好我是tac</div>
    </div>
    <img src="public/assets/images/hdr.png"/>
    <div class="theme-button-wrapper">
      <ThemeButton />
    </div>
    <Prose>
      <Content />
    </Prose>
    <Message index="toast1" btnName="点我显示通知" content="我是通知文本" />
    <Message index="toast2" btnName="点我显示通知2" content="我是通知文本2" />
    <Message index="6" btnName="点我显示通知3" content="我是通知文本3" />
    <PlayedGames />
  </div>
</BaseLayout>

<style>
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
  }
  .tac-say {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
  }
  .chat-bubble {
    height: 10rem;
    border: 1px solid var(--tag-border-color);
    background-color: var(--tag-bg-color);
    border-radius: 10px;
  }

  .theme-button-wrapper {
    position: fixed;
    right: 3rem;
    top: 5rem;
  }
</style>
