---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import tacImage from "../../public/assets/images/avatar.png";
import DropMenu from "../components/DropMenu.astro";
import Prose from "../components/Prose.astro";
import { Content } from "../posts/myUtil.md";
import * as steamApi from "../utils/steamApi.ts";

const links = [
  { url: "/blog", name: "blog" },
  { url: "/time-line", name: "time line" },
];

let steamInfo = await steamApi.playedGames();
let imageUrl = await steamApi.chineseImageUrl("322330");
---

<MainLayout description="偶尔会在这乱写" keywords="lab,实验,前端">
  偶尔会在这乱写
  <div id="tac-say">
    <Image src={tacImage} alt="Ling avatar" width="128" height="128" />
    <div class="chat-bubble"></div>
  </div>
  <DropMenu btnName="menu" links={links} />
  <Prose>
    <Content />
  </Prose>
  <p>
    {JSON.stringify(steamInfo)}
  </p>
  <Image src={imageUrl} alt="dst game header" width="512" height="512" />
</MainLayout>

<style>
  .chat-bubble {
    width: 30rem;
    height: 10rem;
    border: 1px solid #d4d4d4;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
</style>
