---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  description="本页面是我的文章发布时间线"
  keywords="lifeline"
  title="时间线"
  canonical=`${import.meta.env.SITE}/time-line/`
>
  <div class="content-wrapper">施工中...</div>
</BaseLayout>

<style>
  .content-wrapper {
    padding: 0 1.5rem;
  }
</style>
