---

---

<nav class="menu">
  <a href="/">博客</a>
  <a href="/life-line">时线</a>
  <a href="/note">记录</a>
  <a href="/friend-links">友链</a>
  <a href="/about">关于</a>
</nav>

<style>
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 450px;
    height: 55px;

    border: 2px solid black; /* 添加黑色的边框，宽度为 2px */
    border-radius: 40px;
    padding: 0 25px; /* 给容器添加左右内边距 */
  }

  .menu > a {
    color: black; /* 文字颜色 */
    padding: 7px 15px; /* 内边距 */
    text-decoration: none; /* 去除下划线 */
    border-radius: 18px; /* 圆角 */
    font-size: 19px; /* 字体大小 */
  }

  .menu > a:hover {
    background-color: #dddddd;
    transition: background-color 0.2s ease-in-out;
  }
</style>
