---
import { Image } from "astro:assets";

const { name, url, description, icon } = Astro.props;
---

<div class="main">
  <div class="left">
    <Image
      src="https://q.qlogo.cn/headimg_dl?dst_uin=1011303349&spec=640&img_type=jpg"
      alt="descriptive text"
      width="128"
      height="128"
    />
  </div>
  <div class="right">
    <p class="title">12345</p>
    <p>56789</p>
  </div>
</div>

<style>
  .main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    height: 200px;

    background-color: white;
    border: 2px solid black; /* 添加黑色的边框，宽度为 2px */
    border-radius: 40px;
    padding: 0 25px; /* 给容器添加左右内边距 */
  }
  img {
    border-radius: 90px;
  }
</style>
