---
const { imgurl, name, playtime } = Astro.props;
const playtimeHours = Math.floor(playtime / 60);
---

<div class="card">
  <img src={imgurl} alt={`${name} image`} />
  <div class="card-content">
    <h3>{name}</h3>{playtimeHours} H
    <p></p>
  </div>
</div>

<style>
  .card {
    display: flex;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    max-width: 600px;
    width: 90%;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .card img {
    width: 220px;
    height: 100px;
    margin: 2rem;
  }

  .card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-content h3 {
    margin: 0;
    font-size: 1.25rem;
    color: var(--card-title-color);
  }

  .card-content p {
    margin-top: 8px;
    font-size: 0.95rem;
    color: var(--card-text-color);
  }
</style>
