---
//导航菜单组件
---

<nav class="menu">
  <a id="index" href="/" data-astro-prefetch>Ling的小窝</a>
  <a id="blog" href="/blog/" data-astro-prefetch>博客</a>
  <a id="time-line" href="/time-line/" data-astro-prefetch>时线</a>
  <a id="lab" href="/lab/" data-astro-prefetch>实验</a>
  <a id="friend-links" href="/friend-links/" data-astro-prefetch>友链</a>
  <a id="about" href="/about/" data-astro-prefetch>关于</a>
</nav>

<script is:inline>
  const updateSelected = () => {
    let rawPathname = window.location.pathname;
    const regex = /^\/([^\/]+)(?:\/|$)/;
    let pathname = rawPathname.match(regex)?.[1]; //获取第一个捕获组
    pathname = !pathname ? "index" : pathname;
    const e = document.getElementById(pathname);
    if (!e) {
      return;
    }
    e.classList.add("selected");
  };
  document.addEventListener("astro:after-swap", updateSelected); //视图过渡后的脚本执行
  updateSelected();
</script>

<style>
  @media (max-width: 50rem) {
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3.5rem;
    width: 38rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(0, 0, 0, 0.2); /* 添加黑色的边框，宽度为 2px */
    border-radius: 40px;
    padding: 0 25px; /* 给容器添加左右内边距 */
  }

  .menu > a {
    color: rgba(0, 0, 0, 0.7); /* 文字颜色 */
    padding: 0.5rem 1rem; /* 内边距 */
    text-decoration: none; /* 去除下划线 */
    border-radius: 18px; /* 圆角 */
    font-size: 19px; /* 字体大小 */
    transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out;
  }

  .menu > a:hover {
    background-color: rgba(221, 221, 221, 0.4);
  }

  .menu > a.selected {
    transition: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(247, 247, 249, 1);
  }

  .menu > a.selected:hover {
    transition: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(247, 247, 249, 1);
  }
</style>
