---
const { index } = Astro.props;
if (!index) {
  throw Error(" 未定义index！");
}
// 有空时候请完善此组件，应当考虑多通知框情况
---

<div class:list={["toast", index]} data-index={index}></div>
<script>
import type { ToastMessageEvent } from "../utils/types";

  const msgBoxs: boolean[] = [true, true, true, true, true];
  /**
   * 将toastBtn绑定到对应的toast上
   * @param event
   */
  function showToast(event: ToastMessageEvent) {
    const toasts = document.getElementsByClassName("toast");

    let toast;

    for (const t of toasts) {
      const t1 = t as HTMLElement;
      if (t1.dataset.index && t1.dataset.index === event.index) {
        toast = t1 as HTMLDivElement;
      }
    }
    if (!toast) {
      console.log("无法找到指定toast");
      return;
    }

    toast.textContent = event.text;

    // 判断toast情况
    if (toast.style.top != "-50px" && toast.style.top != "") {
      console.debug("通知已存在，忽略");
      return;
    }
    if (!toast) {
      console.error("toast元素未找到");
      return;
    }

    // 获取msgBox中的空位
    let i = -1;
    for (const [index, value] of msgBoxs.entries()) {
      if (value === true) {
        msgBoxs[index] = false;
        i = index;
        break;
      }
    }
    if (i === -1) {
      console.debug("消息盒无空位，忽略");
      return;
    }

    // 操作toast
    toast.style.top = 50 * (i + 1) + "px";
    setTimeout(() => {
      msgBoxs[i] = true;
      toast.style.top = "-50px";
    }, 3000);
  }

  document.addEventListener("welcomeEvent", showToast as any);
  document.addEventListener("astro:page-load", () => {
    document.addEventListener("welcomeEvent", showToast as any);
  });
</script>

<style>
  .toast {
    min-width: 200px;
    background: var(--card-title-color);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.5s;
  }
</style>
