---
import type { JSX } from "astro/jsx-runtime";

const { headings } = Astro.props as { headings: Heading[] };

// [
//   { depth: 2, slug: '1jvm-的结构', text: '1.JVM 的结构' },
//   { depth: 4, slug: '1方法区', text: '(1)方法区：' },
//   { depth: 4, slug: '2虚拟机栈', text: '(2)虚拟机栈：' },
//   { depth: 4, slug: '3本地方法栈', text: '(3)本地方法栈：' },
//   { depth: 4, slug: '4堆', text: '(4)堆：' },
//   { depth: 4, slug: '5程序计数器', text: '(5)程序计数器：' },
// ]

// 此页面存在缺陷，有空请务必修改，使用嵌套的方式展示
---

<nav class="on-this-pages" aria-labelledby="starlight__on-this-page">
  {
    () => {
      let stack: JSX.Element[] = [];
      if (headings && headings.length > 0) {
        stack.push(<h2 id="starlight__on-this-page">本页内容</h2>);
      }
      for (const i in headings) {
        const heading = headings[i];
        stack.push(
          <a href={`#${heading.slug}`} class={`depth-${heading.depth}`}>
            {heading.text}
          </a>
        );
      }
      return stack;
    }
  }
</nav>

<style>
  a {
    text-decoration: none;
  }

  a:hover {
    color: var(--text-color);
  }

  .on-this-pages {
    color: var(--desc-color);
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .depth-1 {
    padding-left: 0px;
  }
  .depth-2 {
    padding-left: 10px;
  }
  .depth-3 {
    padding-left: 20px;
  }
  .depth-4 {
    padding-left: 30px;
  }
  .depth-5 {
    padding-left: 40px;
  }
</style>
