---
const { title, date, wordNum } = Astro.props;
---

<a class="post-card" href={title}>
  <div class="card-top">
    <div class="card-title">{title}</div>
    <div class="word-num">{wordNum}字</div>
  </div>
  <div class="card-center">
    <slot />
  </div>
  <div class="card-bottom">
    <div class="card-date">{date}</div>
  </div>
</a>


<style>
  a {
    text-decoration: none; /* 去除下划线 */
    color: inherit; /* 继承父元素的颜色 */
  }
  .post-card {
    display: flex;
    flex-direction: column;
    gap: 10px; /* 行间距 */
    align-items: center;
    max-width: 600px;
    min-width: 380px;
    height: 130px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 2px solid black; /* 添加黑色的边框，宽度为 2px */
    border-radius: 10px;
    padding: 10px 25px; /* 给容器添加左右内边距 */
    cursor: pointer; /* 悬浮时显示手指 */
    transition: box-shadow 0.15s ease-out;
  }

  .post-card > * {
    align-self: flex-start;
    white-space: nowrap;
    overflow: hidden; /* 超出隐藏 */
    text-overflow: ellipsis; /* 超出显示省略号 */
    width: 100%; /* 超出显示省略必须有明确的宽度 */
  }

  .post-card:hover {
    /* x 偏移量 | y 偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
    box-shadow: 0px 2px 3px 5px #dddddd;
  }

  .card-top {
    align-self: flex-start;
    display: flex;
    align-items: flex-end; /* 贴着交叉轴底部（使字在同一水平线上） */
  }

  .card-top > * {
    margin-right: 8px;
  }

  .card-title {
    font-size: 1.2rem;
  }
</style>
