---
const { title, date, wordNum } = Astro.props;
---

<a class="post-card" href={title}>
  <div class="card-top">
    <div class="card-title">{title}</div>
    <div class="card-date">{date}</div>
    <div class="word-num">{wordNum}字</div>
  </div>
  <div class="card-description">
    <slot />
  </div>
</a>

<style>
  a {
    text-decoration: none; /* 去除下划线 */
    color: inherit; /* 继承父元素的颜色 */
  }
  .post-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 130px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 2px solid black; /* 添加黑色的边框，宽度为 2px */
    border-radius: 10px;
    padding: 10px 25px; /* 给容器添加左右内边距 */
    cursor: pointer; /* 悬浮时显示手指 */
  }

  .post-card:hover {
    /* x 偏移量 | y 偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
    box-shadow: 0px 2px 3px 5px #dddddd;
    transition: box-shadow 0.2s ease-out;
  }

  .card-top {
    align-self: flex-start;
    display: flex;
    align-items: flex-end;
  }

  .card-top > * {
    margin-right: 8px;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-description {
    margin-top: 10px;
    overflow: hidden; /* 超出隐藏 */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 限制最多 3 行 */
    -webkit-box-orient: vertical;
  }

  img {
    max-width: 500px;
    height: auto; 
  }
</style>
