---
import { Image } from "astro:assets";
import BaseHead from "../components/HeadMenu.astro";
import notByAi from '../assets/Authored-By-Human-Not-By-AI-Badge-white.svg'
import "../styles/global.css";
---

<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href='/favicon.svg' type="image/svg">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="主要站点，列出了所有博客文章" />
    <meta name="keywords" content="主页，博客" />
    <meta name="author" content="LingLambda" />
    <title>Ling的小窝</title>
  </head>
  <body>
    <div id="container">
      <header id="menu">
        <BaseHead/>
      </header>
      <main>
        <section>
            <slot />
        </section>
      </main>
      <hr style="width:600px;color:#808080; margin-top: 200px;">
      <footer>
        <Image src={notByAi} alt="not-by-ai" />
          <p> &copy; 2025 </p> <p>LingLambda</p>
      </footer>
    </div>
  </body>

  <script>
    let lastScrollTop  = 0;
    window.addEventListener('scroll',()=>{
      const menu = document.getElementById('menu')
      if(!menu || !(menu instanceof HTMLElement )){
        return
      }
      const scrollTop = window.scrollY;
      if(scrollTop>lastScrollTop){
        console.log("aaa")
        menu.style.top='-85px';
      }else{
        console.log("bbb")
        menu.style.top='5px';
      }
      lastScrollTop = scrollTop;
    })
  </script>

  <style>
    #menu{
      top:5px;
      position: fixed;
      transition: top 0.2s ease-in-out;
    }

    #container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    header {
      padding: 30px;
    }

    main {
      margin-top: 120px;
    }

    footer {
      display: flex;
      flex-direction: row;
      padding: 20px;
    }

    footer > *{
      margin: 5px;
    }

    h1 {
      font-size: 2rem;
    }
    img{
      max-width: 500px;
    }
  </style>
</html>
