---
import BaseLayout from "./BaseLayout.astro";
const { description, keywords, title, canonical } = Astro.props;
---

<BaseLayout description={description} keywords={keywords} title={title} canonical={canonical} ogType="article">
  <section>
    <slot>暂时还没有内容哦</slot>
  </section>
</BaseLayout>

<style>
  section {
    max-width: 65ch;
    padding: 0;
    /* padding:8% */
    width: 85%;
  }
</style>
