---
import BaseLayout from "./BaseLayout.astro";
import MainLayout from "./MainLayout.astro";
---

<MainLayout>
  <div id="cards">
    <slot>暂时还没有内容哦</slot>
  </div>
</MainLayout>

<style>
  #cards {
    display: grid;
    grid-template-columns: repeat(2, 300px); /* 每张卡片固定宽度 */
    justify-content: center; /* 整体网格居中 */
    gap: 20px;
  }
  @media (max-width: 600px) {
    #cards {
      grid-template-columns: 1fr; /* 在小屏幕上改为单列 */
      width: 90vw;
    }
  }
</style>
