---
import BaseLayout from "./BaseLayout.astro";
const { description, keywords } = Astro.props;
---

<BaseLayout description={description} keywords={keywords}>
  <main>
    <slot />
  </main>
</BaseLayout>

<style>
  main {
    max-width: 65ch;
    flex-grow: 1; /* 使 main 占据剩余空间 */
    font-size: 1rem;
    line-height: 1.75;
    width: 85%;
  }
</style>
